html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-color: beige;
}
.input-wrapper {
  margin: 0 auto;
  width: 380px;
  padding: 20px 0px;
  text-align: center;
}
.country-article {
  padding-top: 50px;
}
.country-name {
  text-align: center;
}
.country-description {
  width: 380px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}
.flag-container {
  margin-left: 30px;
}
